<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Suwannaphum:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShelfMaster</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-content">
          <h1 class="logo">ShelfMaster</h1>
          <div>
            <span class="logout"><%= username %></span>
            <button class="logout" onclick="location.href='/logout'">Logout</button>
          </div>
        </div>
      </header>
      <% if (locals.msg) { %>
        <div class="alert <%= type === 'success' ? 'alert-success' : 'alert-error' %>">
            <%= msg %>
        </div>
    <% } %>
      <main class="main-content">
        <h1>Library Books</h1>
        <div class="content">
          <% if (books.length > 0) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% books.forEach(function(book) { %>
                        <tr>
                            <td><%= book.title %></td>
                            <td><%= book.author %></td>
                            <td>
                                <form action="/checkout/<%= book.id %>" method="POST">
                                    <input type="hidden" name="bookId" value="<%= book.id %>">
                                    <button type="submit" class="table-button">
                                        <%= book.available ? 'Checkout' : 'Not Available' %>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <p>No books available in the library.</p>
        <% } %>
        </div>
      </main>
    </div>
  </body>
</html>
